<?xml version="1.0" encoding="utf-8" ?>
<composerOutputCaching>
  <rules>
    <add name="CategoryRule" type="Orckestra.Composer.CompositeC1.OutputCache.Rules.CategoryPageRule, Orckestra.Composer.CompositeC1" />
    <add name="SearchRule" type="Orckestra.Composer.CompositeC1.OutputCache.Rules.SearchPageRule, Orckestra.Composer.CompositeC1" />
  </rules>
  <pageTypeProfiles>
    <add name="Account Page" provider="NoCache" />
    <add name="Checkout Step Page" provider="NoCache" />
  </pageTypeProfiles>
</composerOutputCaching>