@using System.Diagnostics

@{
    Trace.TraceError("Message"); // Write an error message   
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>
        <h1>Trace done</h1>
    </body>
</html>
