@inherits RazorFunction

@using Composite.Forms.FormBuilder;

@functions {
	public override string FunctionDescription
	{
		get { return "A visual separator"; }
	}
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
	<hr />
</body>
</html>
